<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>$title$</title>
    <script src="jquery.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript" src="jquery.truncator.js"></script>
    <script src="jquery.timeago.js" type="text/javascript"></script>
    <script type="text/javascript">
      var num_items = 3;
      var desc_length = 100;
      function pipeCallback(obj){ 
        var i;
        var h='';
        h += '<a class="heading" href="http://pipes.yahoo.com/pipes/pipe.info?_id=5729836f3c71d2d91261feaa18d22b05">Ledger news</span>';
        h += '&nbsp;<a href="http://pipes.yahoo.com/pipes/pipe.run?_id=5729836f3c71d2d91261feaa18d22b05&_render=rss" type="application/atom+xml"'+
             ' title="planet ledger RSS feed">'+
             '<img src="rss_icon.gif" border=0 /></a>'+
             '<br><span class="small">blog posts and tweets about ledger and family'+
             ' (<a href="mailto:webmaster@ledger-cli.org?subject=planet ledger update" title="click to submit a new feed or an update">add me</a>)</span>';
        h += '<ul class="small">';
        for (i = 0; i < num_items ; i++){
          h += '<li>';
          if (obj.value.items[i].title)
            h += '<a class="title" href="' + obj.value.items[i].link + '">'+obj.value.items[i].title + '</a>';
          h += ' <span class="desc">' + obj.value.items[i].description + '...</span>'+
               ' <span class="date">' + jQuery.timeago(obj.value.items[i].pubDate) + '</span>'+
               '</li>';
        }
        h += '</ul>';
        $$('#planet').html(h);
        $$('.desc').truncate({max_length:desc_length})
      }
    </script>
  </head>
  <body>

    <div id="header">
    </div>

    <div id="sidebar">

      <div class="large nowrap">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="index.html#getting-started">Getting Started</a>
          <li><a href="index.html#documentation">Documentation</a>
          <li><a href="http://wiki.ledger-cli.org">Wiki</a>
          <li><a href="index.html#community">Community</a>
          <li><a href="index.html#download">Download</a>
        </ul>
      </div>

      <div class="large nowrap">
        <span class="heading">Related projects</span>
        <ul class="nowrap">
          <li><a href="http://hledger.org">hledger</a></li>
          <li><a href="http://furius.ca/beancount/">BeanCount</a>
          <li><a href="https://launchpad.net/csv2ledger">CSV2ledger</a>
          <li><a href="http://ericbetts.org/ledgeraddons">EB's addons</a>
          <li><a href="http://joyful.com/repos/ledgertools/">SM's addons</a>
        </ul>
      </div>

      <!-- <div class=""> -->
      <!--   <p> -->
      <!--     twitter: #ledgercli<br /> -->
      <!--     identi.ca: #ledger, <a href="http://identi.ca/group/ledgerites">ledgerites group</a><br /> -->
      <!--   </p> -->
      <!-- </div>       -->

      <div id="planet" class="">
      </div>      

    </div>

    <div id="main">
$body$
    </div>

    <div id="footer">
      <hr />
    </div>

    <script type="text/javascript" src="http://pipes.yahoo.com/pipes/pipe.run?_id=5729836f3c71d2d91261feaa18d22b05&_render=json&_callback=pipeCallback"></script>
  </body>
</html>
