<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>$title$</title>
  </head>
  <body>
    <div id="header">
    </div>
    <div id="sidebar">
    <ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="#getting-started">Getting Started</a>
    <li><a href="#documentation">Documentation</a>
    <li><a href="#support">Support</a>
    <li><a href="#download">Download</a>
    </ul>
    </div>
    <div id="main">
$body$
    </div>
    <div id="footer">
      <hr />
      <a href="http://github.com/simonmichael/ledger-website">website repo</a>
    </div>
  </body>
</html>
