body {
    background-color:white; 
    color:black;
    font-family:sans-serif;
    margin:0;
}

#content {
    max-width:60em;
    margin:0 auto;
}

#header {
    height:65px;
    border-bottom:3px solid gray;
    padding:0 1em;
}

#header li {
    display:inline;
    margin:1em;
}

#header a {
    text-decoration:none;
}

#logo {
    font-size:50px;
    display:inline;
}

#navlinks {
    display:inline;
}

#navlinks ul {
    display:inline;
}

#navlinks li {
    white-space:nowrap;
}

#main {
    padding:0 1em;
}

pre, code, tt {
    font-family:consolas, monospace;
}

pre {
    margin:0 0 0 1em;
}

pre code {
    padding:0.5em;
    display:inline-block;
    background: #eee;
    font-size:small;
}

#footer {
    margin-top:3em;
    font-size:small;
    text-align:center;
    /* color:#ccc; */
}

#footer hr {
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: 0;
    width: 80%;
}

.large {
    font-size:large;
}

.small {
    font-size:small;
}

.nowrap {
    white-space:nowrap;
}

/* #main { */
/*     /\* padding-left:15em; *\/ */
/*     margin:0 auto; */
/*     /\* margin-right:3em; *\/ */
/*     /\* margin-left:1em; *\/ */
/*     /\* width: 600px; *\/ */
/*     /\* position: relative; *\/ */
/*     height:100%; */
/*     overflow:auto; */
/* } */

/* #main h1, #main h2 { */
/*     position:relative; */
/*     left:-1em; */
/* } */

/* #main td { */
/*     padding-right:1em; */
/*     background-color:#f0f0f0; */
/* } */

/* #sidebar { */
/*     width: 10em; */
/*     padding:2em 1em; */
/*     position:fixed; */
/* } */

/* #sidebar div .heading { */
/*     font-weight:bold; */
/*     font-size:large; */
/* } */

/* #planet a.heading:link, #planet a.heading:visited { */
/*     color:black; */
/*     text-decoration:none; */
/* } */

/* #sidebar div ul { */
/*     list-style-type:none; */
/*     margin-top:0; */
/*     padding-left:0em; */
/* } */

/* #planet li { */
/*     padding:1em 0 0 0; */
/*     font-style:normal; */
/* } */

/* .title { */
/*     font-weight:bold; */
/* } */

/* .desc p { */
/*     display:inline; */
/* } */

/* .date { */
/*     color:gray; */
/* } */

