body {
    background-color:white; 
    color:black;
    /* margin: 3em; */
/* font-family:helvetica,arial,freesans,clean,sans-serif; */

/* http://gradients.glrzad.com */
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.98, rgb(255,255,255)),
    color-stop(0.9999, rgb(0,46,3)),
    color-stop(1, rgb(0,0,0))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(255,255,255) 98%,
    rgb(0,46,3) 100%,
    rgb(0,0,0) 100%
);

background-attachment: fixed !important;
}

#main {
    padding-left:15em;
    margin-right:3em;
    margin-left:1em;
    /* width: 600px; */
    /* position: relative; */
    height:100%;
    overflow:auto;
}

#main h1, #main h2 {
    position:relative;
    left:-1em;
}

#main td {
    padding-right:1em;
    background-color:#f0f0f0;
}

#sidebar {
    width: 10em;
    padding:2em 1em;
    position:fixed;
}

#sidebar div .heading {
    font-weight:bold;
    font-size:large;
}

#planet a.heading:link, #planet a.heading:visited {
    color:black;
    text-decoration:none;
}

#sidebar div ul {
    list-style-type:none;
    margin-top:0;
    padding-left:0em;
}

#planet li {
    padding:1em 0 0 0;
    font-style:normal;
}

.title {
    font-weight:bold;
}

.desc p {
    display:inline;
}

.date {
    color:gray;
}

#footer {
    margin-top:3em;
    font-family:helvetica,arial,freesans,clean,sans-serif;
    font-size:small;
    text-align:center;
    /* color:#ccc; */
}

#footer a:link, #footer a:visited {
    /* color:#ccc; */
}

#footer hr {
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: 0;
    width: 80%;
}

.large {
    font-size:large;
}

.small {
    font-size:small;
}

.italic {
    font-style:italic;
}

.nowrap {
    white-space:nowrap;
}

pre {
    background: #F8F8F8; /* same as GitHub, good if using their syntax.css */
    margin-left: 1em;
}

