body {
    background-color:white; 
    color:black;
    /* margin: 3em; */
/* font-family:helvetica,arial,freesans,clean,sans-serif; */
}

#main {
    padding-left:12em;
    margin-right:3em;
    margin-left:1em;
    /* width: 600px; */
    /* position: relative; */
    height:100%;
    overflow:auto;
}

#main h1, #main h2 {
    position:relative;
    left:-1em;
}

#sidebar {
    margin-top: 4em;
    width: 10em;
    position:fixed;
    font-weight:bold;
    font-size:large;
    padding:1em;
}

#sidebar ul {
    list-style-type:none;
}

#sidebar li {
}

#identica {
    font-size:smaller;
    font-weight:normal;
}

#identica li {
    list-style-type:none;
    margin-top:0.5em;
}

#footer {
    margin-top:3em;
    font-family:helvetica,arial,freesans,clean,sans-serif;
    font-size:small;
    text-align:center;
    color:#ccc;
}

#footer a:link, #footer a:visited {
    color:#ccc;
}

#footer hr {
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: 0;
    width: 80%;
}

pre {
    background: #F8F8F8; /* same as GitHub, good if using their syntax.css */
    margin-left: 1em;
}

