body {
    background-color:white; 
    color:black;
    /* margin: 3em; */
/* font-family:helvetica,arial,freesans,clean,sans-serif; */

/* http://gradients.glrzad.com */
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.98, rgb(255,255,255)),
    color-stop(0.9999, rgb(0,46,3)),
    color-stop(1, rgb(0,0,0))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(255,255,255) 98%,
    rgb(0,46,3) 100%,
    rgb(0,0,0) 100%
);

background-attachment: fixed !important;
}

#main {
    padding-left:15em;
    margin-right:3em;
    margin-left:1em;
    /* width: 600px; */
    /* position: relative; */
    height:100%;
    overflow:auto;

}

#main h1, #main h2 {
    position:relative;
    left:-1em;
}

#sidebar {
    width: 10em;
    position:fixed;
    font-weight:bold;
    font-size:large;
    padding:1em;
}

#sidebar ul {
    list-style-type:none;
}

#sidebar li {
    margin:1em 0;
}

#identica {
    font-size:smaller;
    font-weight:normal;
}

#identica li {
    list-style-type:none;
    margin-top:0.5em;
}

#footer {
    margin-top:3em;
    font-family:helvetica,arial,freesans,clean,sans-serif;
    font-size:small;
    text-align:center;
    /* color:#ccc; */
}

#footer a:link, #footer a:visited {
    /* color:#ccc; */
}

#footer hr {
    color: #eee;
    background-color: #eee;
    height: 1px;
    border: 0;
    width: 80%;
}

pre {
    background: #F8F8F8; /* same as GitHub, good if using their syntax.css */
    margin-left: 1em;
}

