@import url("darkmode.css");

body, html, div.example {
  color:var(--color);
  background:var(--background-color);
}

h1, h2, h3, h4 {
  color:var(--color);
}

div.example {
  filter:brightness(var(--exmaple-brightness));
}

:link, a[href]:hover {
  color:var(--link-color) !important;
}

a[href]:visited {
  color:var(--visited-color) !important;
}
