@import url("darkmode.css");

body {
    color:var(--color);
    background:var(--background-color);
    font-family:sans-serif;
    margin:0;
    line-height:1.2;
}

main {
    max-width:60em;
    margin:0 auto;
}

header {
    min-height:65px;
    border-bottom:3px solid gray;
    padding:1em;

    li {
      display:inline-block;
      margin:0 2em 0 0;
    }

   a { text-decoration:none; }
}

a[href^="https://"]:not(:has(img, svg))::after {
  content: "\21f1";
  transform: scaleX(-1);
  display: inline-block;
  font-variant-position: super;
  vertical-align: super;
  font-size: 80%;
}

:link {
  color:var(--link-color);
}

:visited {
  color:var(--visited-color);
}

nav {
    display:inline;

    ul {
      display:inline;
      padding:0;
    }

    li {
      white-space:nowrap;

      a[href="/"] {
          color:var(--color);
      }
    }
    li:has(a[href="/"]) {
      font-size:50px;
      margin-left:0;
    }
}

article {
    padding:1em;

    h1  {
      font-size:2em;
    }
}

pre, code, tt {
    font-family:monospace;
}

pre.highlight {
    margin:0 0 0 1em;
    code {
      padding:0.5em;
      display:inline-block;
      background:var(--highlight-code-background-color);
      font-size:small;
    }
}

.large {
    font-size:large;
}

.small {
    font-size:small;
}

.nowrap {
    white-space:nowrap;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
.github-corner svg {
  color:var(--background-color) !important;
  fill:var(--color) !important;
}

@media screen and (max-width:765px) {
    header li {
        margin:1em 2em 0 0;
    }
    nav li:has(a[href="/"]) {
      display:block;
      margin:0;
    }
}
