body {
    background-color:white;
    color:black;
    font-family:sans-serif;
    margin:0;
    line-height: 1.2;
}

main {
    max-width:60em;
    margin:0 auto;
}

header {
    height:65px;
    border-bottom:3px solid gray;
    padding:1em;
}

header li {
    display:inline;
    margin:1em;
}

header a {
    text-decoration:none;
}

nav ul {
  padding: 0;
}

nav li:has(a[href="/"]) {
    font-size:50px;
    margin-left: 0;
}

nav li a[href="/"] {
    color: black;
}

nav {
    display:inline;
}

nav ul {
    display:inline;
}

nav li {
    white-space:nowrap;
}

article {
    padding:1em;
}

article h1  {
  font-size: 2em;
}

pre, code, tt {
    font-family:monospace;
}

pre {
    margin:0 0 0 1em;
}

.large {
    font-size:large;
}

.small {
    font-size:small;
}

.nowrap {
    white-space:nowrap;
}

pre {
    margin:0 0 0 1em;
}

pre code {
    padding:0.5em;
    display:inline-block;
    background: #eee;
    font-size:small;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
