:root {
  --light-color:#121212;
  --light-background-color:#fcfcfc;
  --light-site-background-color:#e7e7e7;
  --light-highlight-code-background-color:#eee;
  --light-link-color:#00e;
  --light-visited-color:#551a8b;
  --light-example-brightness:100%;
  --light-example-background:#f2efe4;

  --dark-color:#fefefe;
  --dark-background-color:#212121;
  --dark-site-background-color:#323232;
  --dark-highlight-code-background-color:#333;
  --dark-link-color:#2997ff;
  --dark-visited-color:#aa6fdf;
  --dark-example-brightness:125%;
  --dark-example-background:#323232;
}

@media (prefers-color-scheme: light) {
  :root {
    --color:var(--light-color);
    --background-color:var(--light-background-color);
    --site-background-color:var(--light-site-background-color);
    --highlight-code-background-color:var(--light-highlight-code-background-color);
    --link-color:var(--light-link-color);
    --visited-color:var(--light-visited-color);
    --example-brightness:var(--light-example-brightness);
    --example-background:var(--light-example-background);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color:var(--dark-color);
    --background-color:var(--dark-background-color);
    --site-background-color:var(--dark-site-background-color);
    --highlight-code-background-color:var(--dark-highlight-code-background-color);
    --link-color:var(--dark-link-color);
    --visited-color:var(--dark-visited-color);
    --example-brightness:var(--dark-example-brightness);
    --example-background:var(--dark-example-background);
  }
}

pre.example-preformatted, pre[class^="example"], pre[class^="lisp"] {
  /* Override hard-coded background color from gnu manual.css with dark/light mode variant */
  background-color:var(--highlight-code-background-color) !important;
}

body.light-theme, body.dark-theme {
  color:var(--toggled-color);
  background:var(--toggled-background-color);
  nav ul li a[href="/"] {
    color:var(--toggled-color);
  }
  pre code {
    background-color:var(--toggled-highlight-code-background-color);
  }
  .github-corner svg {
    color:var(--toggled-background-color) !important;
    fill:var(--toggled-color) !important;
  }
  :link {
    color:var(--toggled-link-color);
  }
  :visited {
    color:var(--toggled-visited-color);
  }
}
